{% extends 'base.html' %}

{% load static %}
{% block content %}
<h1>{{ title }}</h1>

<img src="{% static 'codigo.jpg' %}" alt="" width="500">

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At quod ullam hic repellat animi, distinctio aliquam corporis voluptate cupiditate itaque beatae ipsa unde accusantium ea nesciunt, deleniti esse vel voluptatum nobis adipisci dolor. Doloremque dolorem esse blanditiis officiis consequuntur aliquid. Deleniti corrupti laborum nobis! Excepturi sed eligendi ex ducimus commodi?</p>
{% endblock %}
